* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  /* overflow-y: hidden; */
}

body {
  background-color: black;
  color: white;
  /* cursor: none; */
}

.mousefollower{
  border-radius: 50%;
  border: 10px solid white;
  mix-blend-mode: difference;
  /* scale: 4; */
  background-color: rgb(255, 255, 255);
}

.loader {
  /* position: absolute; */
  height: 100vh;
  width: 100%;
  background-color: #0b0b0b;
  padding: 5vw;
  padding-top: 6vw;
}

.line {
  height: fit-content;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  overflow: hidden;
}

.line1-count {
  margin-left: 7vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 1vw;
  margin-right: 4vw;
}

.line1-count h5 {
  font-size: 3.5vw;
  font-family: "silk serif";
  font-weight: 100;
  /* background-color: red; */
  height: fit-content;
  width: 6vw;
  text-align: end;
}

.line1-count h5:nth-child(2) {
  width: fit-content;
}

.loader h1 {
  text-transform: uppercase;
  font-size: 7.3vw;
  font-family: "plain";
  font-weight: 500;
  line-height: 1;
}

.line h4 {
  text-transform: uppercase;
  font-size: 7.3vw;
  font-family: "plain";
  line-height: 1;
  font-weight: 500;
  margin-left: 13px;
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 1;
  }
  48% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px white;
    opacity: 1;
    color: transparent;
  }
  50% {
    opacity: 0;
  }
  62% {
    font-family: "plain";
    -webkit-text-stroke: 1px white;
    opacity: 1;
  }
  100% {
    font-family: "plain";
    -webkit-text-stroke: 1px white;
    opacity: 0;
  }
}

.loader .bottom {
  margin-top: 5vw;
  margin-left: 23vw;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.loader .bottom h3 {
  font-family: "plain light";
  font-weight: 100;
  font-size: 1.1vw;
  /* line-height: 1; */
}

/* main */
main {
  background-color: #151515;
}
/* page 1 */
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
nav {
  width: 100%;
  height: 10vw;
  padding: 4vw 5vw;
  display: flex;
}

.nav-left {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 3vw;
}

.nav-right {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.nav-right p {
  font-family: "plain";
  line-height: 1;
  font-weight: 100;
  font-size: 1.1vw;
}

.nav-right-right {
  display: flex;
  gap: 3vw;
}

.nav-right-right h4 {
  font-family: "plain light";
  font-weight: 500;
  font-size: 1.1vw;
}

/* hero-section */
section {
  width: 100%;
  height: calc(100% - 10vw);
  padding-top: 5vw;
}

section .hero {
  height: fit-content;
  width: 100%;
  padding-left: 27%;
  overflow: hidden;
}

.hero h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  font-family: "plain";
  line-height: 1;
  font-weight: 500;
  position: relative;
}

.hero-first-h1::before {
  content: "01";
  font-family: "silk serif";
  position: absolute;
  font-size: 3.2vw;
  top: 0.8vw;
  left: -7vw;
}

.hero-hover {
  display: flex;
}

.hero-hover h1 {
  /* text-decoration: underline; */
  border-bottom: 8px solid white;
}

.web:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  text-decoration: none;
}
.graphic:hover {
  -webkit-text-stroke: 1px white;
  text-decoration: none;
  color: transparent;
}

.hero-hover h1:nth-child(2) {
  text-decoration: none;
  border-bottom: 0;
}

/* Page 2 */
.page2 {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  /* background-color: red; */
  padding-top: 15vh;
  position: relative;
}

.video-container {
  height: 75vh;
  width: 70%;
  margin-left: 30%;
  position: relative;
  background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
  background-size: cover;
  background-position: center;
  background-color: red;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.video-crsr {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-color: #ffa73c;
  position: fixed;
  /* z-index: 5; */
  top: 115vh;
  right: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-crsr i {
  font-size: 2.7vw;
}


/* page 3 */
.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
}

.page3 h1 {
  font-size: 7.4vw;
  text-transform: uppercase;
  font-family: "plain";
  font-weight: 500;
  position: relative;
  margin-left: 28vw;
}

.page3 h1::before {
  content: "02";
  font-family: "silk serif";
  position: absolute;
  font-size: 3.2vw;
  top: 0.8vw;
  left: -7vw;
}

.page3 .underline{
  width: calc(92% - 28vw);
  margin-left: 28vw;
}

.page3-container{
  height: fit-content;
  width: 100%;
  padding: 4vw;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
}

.img-contain-page3{
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  /* width: 100%; */
}

.img-contain-page3 h2{
  font-family: 'plain';
  font-weight: 500;
  font-size: 2.8vw;
  margin-bottom: 1.5vw;
}

.img-page3-bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img-contain-page3 h4{
  font-family: 'plain';
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 1.5vw;
}

.img-contain-page3 h4:nth-child(1){
  width: 50%;
}

.img-contain-page3 .underline{
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.img-page3{
  height: 38vw;
  width: 30vw;
  position: relative;
  overflow: hidden;
}

.no-1{
  height: 28vw;
  width: 24vw;
}
.no-5{
  height: 28vw;
  width: 24vw;
}

#no-3{
  margin-top: 8vw;
}
#no-5{
  margin-top: -16vw;
}
#no-6{
  margin-top: -5vw;
}

.img-page3 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.circle-container{
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  border: 1.5px solid white;
  display: grid;
  place-items: center;
  position: relative;
  margin-left: 5vw;
  margin-top: 26vw;
}

#circle-container-2{
  margin-top: 0;
  margin-left: 0;
  rotate: -45deg;
}

#circle-container-2 .circle-in{
  rotate: 45deg;
}

#circle-container-3{
  rotate: -90deg;
  margin-left: 6.5vw;
  margin-top: 22vw;
}
#circle-container-3 .circle-in{
  rotate: 90deg;
}

.circle-container svg{
  width: 6vw;
  /* display: none; */
}

.circle-in{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
  scale: 0;
  transition: all ease .5s;
}
.circle-in > p{
  color: black;
  font-family: 'plain';
  font-size: 1vw;
  font-weight: 300;
  display: none;
}
.circle-container:hover .circle-in{
  scale: 1;
}
.circle-in:hover p{
  display: block;
}

._canvas_container{
  z-index: 999999 !important;
  pointer-events: none;
}

.page3-bottom{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.page3-bottom-circle{
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: #ffa63d;
  display: grid;
  place-items: center;
  transition: all ease .3s;
}
.page3-bottom-circle:hover{
  height: 22vw;
  width: 22vw;
}
.page3-bottom-circle:hover p{
  font-size: 1.1vw;
}

.page3-bottom-circle>p{
  font-family: 'plain';
  font-weight: 300;
  transition: all ease .3s;
}
.page3-bottom-circle>p>span{
  font-family: 'silk serif';
  font-weight: 100;
}

/* page4 */
.page4 {
  min-height: 100vh;
  width: 100%;
  padding: 4vw 0;
  background-color: #151515;
  /* background-color: red; */
}

.page4-container {
  height: 100%;
  width: 72%;
  margin-left: 28%;
  /* background-color: #ffa73c; */
}

.page4-container h1 {
  font-size: 7.4vw;
  text-transform: uppercase;
  font-family: "plain";
  font-weight: 500;
  position: relative;
}

.page4-container-h1::before {
  content: "03";
  font-family: "silk serif";
  position: absolute;
  font-size: 3.2vw;
  top: 0.8vw;
  left: -7vw;
}

.underline {
  height: 0.05vw;
  width: 92%;
  margin: 2vw 0;
  background-color: white;
}

.page4-container > p {
  font-size: 2.5vw;
  font-family: "plain";
  font-weight: 100;
  width: 55%;
  line-height: 1.1;
  margin-top: 4vw;
  margin-bottom: 5vw;
}

.flex-container {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 2vw;
}

.flex-container > img {
  width: 58%;
}

.flex-container > p {
  font-size: 1.1vw;
  font-family: "plain";
  font-weight: 400;
  line-height: 1.5;
  width: 37%;
}

.page4-overlay {
  height: 40vw;
  width: 60%;
  position: relative;
  margin-top: -10vw;
  margin-left: 23vw;
  background-color: #3f7df4;
  padding: 3vw 3.5vw;
}

.overlay-elem {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 2vw 0;
}

.overlay-elem > h4 {
  font-family: "plain";
  font-weight: 400;
  font-size: 1.7vw;
  width: 15vw;
  margin-right: 1vw;
}

.overlay-elem > p {
  font-family: "plain";
  font-weight: 400;
  font-size: 1.1vw;
}

/* page5 */
.page5 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

.page5 > .underline {
  margin-left: 28%;
  width: 67%;
}

.page5 > p {
  font-family: "plain";
  font-weight: 400;
  font-size: 1.1vw;
  margin-left: 28%;
}

.scroller {
  width: 100%;
  height: 80%;
  margin-top: 10%;
}

.scroll-elem {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.scroll-elem h1 {
  font-size: 7vw;
  text-transform: uppercase;
  display: inline-block;
  animation: scroll 20s linear infinite;
  margin-right: 16px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  line-height: 1.1;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-100% - 20px));
  }
}

.scroll-elem h1 > span {
  font-family: "silk serif";
  font-weight: 100;
}
.scroll-elem2 h1 > span {
  font-family: "silk serif";
  font-weight: 100;
}

.scroll-elem2 {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.scroll-elem2 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  display: inline-block;
  animation: scroll 20s linear infinite;
  animation-direction: reverse;
  margin-right: 16px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  line-height: 1.1;
  overflow: hidden;
}


footer{
  height: 100vh;
  width: 100%;
  background-color: #151515;
  padding: 5vw 0;
}


.footer-content{
  height: 100%;
  width: 72%;
  margin-left: 28%;
}

.footer-content > h1{
  font-size: 7vw;
  text-transform: uppercase;
  font-family: 'plain';
  font-weight: 500;
  position: relative;
}

.footer-h1::before {
  content: "04";
  font-family: "silk serif";
  position: absolute;
  font-size: 3.2vw;
  top: 0.8vw;
  left: -7vw;
}

.footer-flex{
  width: 82%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
}

.flex-content{
  width: 12vw;
}

.flex-content h6{
  font-size: 1.2vw;
  font-family: "plain";
  font-weight: 300;
  margin: 1.8vw 0;
}
.flex-content h5{
  font-size: 1.7vw;
  font-family: "plain";
  font-weight: 500;
}

footer p{
  font-family: 'plain';
  font-weight: 500;
}